$accordion-button-active-bg: rgba(255, 255, 255, 0);
$accordion-button-active-color: #000;

$accordion-button-focus-box-shadow: none;
$form-select-indicator: none;






@import '../node_modules/bootstrap/scss/bootstrap.scss'