<% layout('layouts/siteBoilerplate') %>


<div class="d-flex align-items-center">
    <div class="container col-lg-6 border rounded-3 p-4">
        <h1 class="mb-5 text-center fs-3">
            Log in to your account
        </h1>
            <div>
                <form action="/login" method="POST" class="validated-form" novalidate>
                    <div class="form-floating mb-3">
                        <input class="form-control" type="text" id="username" name="username" required>
                        <label class="form-label" for="username">Username</label>
                        <div class="valid-feedback">
                            Looks good!
                        </div>
                        <div class="invalid-feedback">
                            Please enter a valid username.
                        </div>
                    </div>
                    <div class="form-floating mb-3">
                        <input class="form-control" type="password" id="password" name="password" required>
                        <label class="form-label" for="password">Password</label>
                        <div class="valid-feedback">
                            Looks good!
                        </div>
                        <div class="invalid-feedback">
                            Please enter a valid password.
                        </div>
                    </div>
                    <div class="row mb-3">
                        <button class="btn btn-light" type="submit">Login</button>
                    </div>
                </form> 
            </div>
    </div>
</div>